/* основной цвет текста  #212121;
цвет текста в акценте background: #FFFFFF;
цвет реакции акцента background: #2196F3;
цвет параграфом и ссылок background: #757575; */
:root {
  --primary-text-color: #212121;
  --general-accent-color: #ffffff;
  --color-of-reaction: #2196f3;
  --paragraph-color: #757575;
  --card-set-gap: 30px;
}
p,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--general-accent-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* убрала маркеры в списках*/
.list {
  display: flex;
}

/* убрала почеркивание в ссылках */

a {
  text-decoration: none;
}

/* оформление хедера */

.nav {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-of-reaction);
  margin-right: 93px;
  display: flex;
}
.chn-color {
  color: var(--primary-text-color);
}
.contact-list {
  display: flex;
  align-items: center;
}
.contact-list__item {
  display: flex;
  align-items: center;
}
.contact-list__item:not(:first-child) {
  margin-left: 30px;
}

.envelope-item {
  margin-right: 10px;
  fill: currentColor;
  /* cursor: pointer; */
}

.smart-item {
  margin-right: 10px;
  fill: currentColor;
  /* cursor: pointer; */
}

.list-nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav-due-site {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--color-of-reaction);
}
/* .link-nav-cur {
  color: var(--color-of-reaction);
} */
.link-nav {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--color-of-reaction);
  transform: scale(0.9);
}

.link {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  display: flex;
  align-items: center;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--color-of-reaction);
  fill: var(--color-of-reaction);
  transform: scale(1.1);
}

/* Основная страница */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bigteam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--general-accent-color);
  text-transform: uppercase;

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--general-accent-color);
  background-color: var(--color-of-reaction);
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  display: inline-block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__button:hover,
.main__button:focus {
  background-color: var(--paragraph-color);
  color: var(--primary-text-color);
  transform: scale(1.1);
  /* transition-property: background-color, color; */
}

/* Основная страница описание деятельности */

.aboutus__title--hide {
  display: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.aboutus {
  display: flex;
  justify-content: space-between;
}
.aboutus__list {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.aboutus__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
}
.us-list:not(:last-child) {
  margin-right: 30px;
}
.aboutus__items {
  display: flex;
  justify-content: center;
  /* display: inline-block; */
  /* width: 270px; */
  /* height: 120px; */
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0px;
}
.work {
  padding-top: 0;
}

.work__title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.worklist__item {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.worklist__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);

  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.9;
  color: var(--paragraph-color);
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.all-team {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--general-accent-color);
  border-radius: 0px 0px 4px 4px;
}
.social {
  display: flex;
  justify-content: center;
}

.social__box {
  display: flex;
  justify-content: center;
  /* width: 44px;
  height: 44px; */
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__box:hover,
.social__box:focus {
  background-color: var(--color-of-reaction);

  cursor: pointer;
  fill: var(--general-accent-color);
  transform: scale(1.2);
  /* transition-property: background-color, fill; */
}

.social__box:not(:last-child) {
  margin-right: 10px;
}

.client__title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);

  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__items {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  border-color: #afb1b8;
  fill: #afb1b8;
  padding: 16px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__items:hover,
.client__items:focus {
  border-color: var(--color-of-reaction);
  fill: var(--color-of-reaction);
  cursor: pointer;
  transform: scale(1.1);
  /* transition-property: border-color, fill; */
}

/* кнопки навигации портфолио */

.button-list {
  /* display: flex; */
  justify-content: center;
  margin-bottom: 50px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 6px 22px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--color-of-reaction);
  color: var(--general-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transform: scale(0.9);
  /* transition-property: background-color, color, box-shadow; */
}

/* основной контент страницы ПОРТфолио */

.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.item {
  justify-content: space-between;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  box-sizing: border-box;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover,
.item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transform: scale(1.1);
  /* transition-property: box-shadow; */
}

.content-title {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.content-description {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.9;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

/* оформление подвала */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  /* display: block;
  height: 252px; */
}

.add-list {
  display: inline-block;
}

.logo-podval {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--general-accent-color);
  margin-bottom: 20px;
}

.link-podval {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-podval:not(:last-child) {
  margin-bottom: 10px;
}

.link-podval:hover,
.link-podval:focus {
  color: var(--color-of-reaction);
  transform: scale(1.1);
  /* transition-property: color; */
}
.adress-podval {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  color: var(--general-accent-color);
  display: block;
  /* margin-bottom: 10px; */
}

.add-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.chn-color-ftr {
  color: var(--color-of-reaction);
}

.footersocial__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--general-accent-color);

  margin-bottom: 20px;
}

.podval {
  display: flex;
  align-items: baseline;
}
.all-adress {
  margin-right: 70px;
}
.footersocial__list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
}
.footersocial__link {
  display: flex;
  justify-content: center;
  /* width: 44px;
  height: 44px; */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .social-link:not(:last-child) {
  margin-right: 10px;
} */

.footersocial__link--color {
  fill: var(--general-accent-color);
}
.footersocial__:hover,
.footersocial__:focus {
  background-color: var(--color-of-reaction);
  transform: scale(1.2);
  /* transition-property: background-color; */
}

.footersocial__item:not(:last-child) {
  margin-right: 10px;
}
.send-form {
  margin-left: 93px;
}
.send-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--general-accent-color);
  margin-bottom: 20px;
}
.email-send {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-left: 16px;
}

.email-send::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send-form__button {
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  background: var(--color-of-reaction);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--general-accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 28px;
  justify-content: center;

  margin-left: 12px;
}

.send-form__button:focus,
.send-form__button:hover {
  cursor: pointer;
}

/* .send-group {
  position: relative;
  display: inline-flex;
  align-items: center;
} */

.send-form__icon {
  margin-left: 10px;
  /* position: absolute;
  right: 28px; */
}

/* оформление модального окна */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: var(--general-accent-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--general-accent-color);
  text-align: center;

  right: 8px;
  top: 8px;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:focus,
.modal__button:hover {
  fill: var(--color-of-reaction);
}

.modal__title {
  display: block;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
  /* margin: 40px 40px 12px 40px; */
}

.modal__field--title {
  display: block;
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--paragraph-color);

  margin-bottom: 4px;
}

.modal__field {
  display: block;
  margin-bottom: 10px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus ~ .modal__icon {
  border-color: var(--color-of-reaction);
  cursor: pointer;
  fill: var(--color-of-reaction);
}

.modal__comments {
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comments:focus {
  border-color: var(--color-of-reaction);
  cursor: pointer;
}

.modal__comments::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox--description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-left: 8px;
}

.modal__checkbox--link {
  color: var(--color-of-reaction);
  text-decoration: underline;
}

.modal__form {
  padding: 40px;
}

.modal__button {
  display: block;
  color: var(--general-accent-color);
  background-color: var(--color-of-reaction);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
}

.modal__button:hover,
.modal__button:focus {
  cursor: pointer;
}

.modal__form-check {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.person-input {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-input {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__form-check:hover,
.modal__form-check:focus {
  cursor: pointer;
}

.modal__checkbox--icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
/* 
.icon:hover,
.icon:focus {
  cursor: pointer;
} */

.modal__checkbox:checked + .modal__checkbox--icon {
  background-color: var(--color-of-reaction);
  border-color: transparent;
  background-image: url(../images/icheck.svg);
  background-size: contain;
  background-origin: border-box;
}

/* оформление оверлея на картах первой страницы  */

.work__trumb {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-overlay__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;

  color: var(--general-accent-color);
}

/* оверлей на картах портфолио */
.card-trumb {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-desc {
  font-size: 18px;
  line-height: 1.56;
  color: var(--general-accent-color);
  padding: 63px 24px;
}

.card:hover .card-overlay {
  transform: translateY(0);
}
.card:focus .card-overlay {
  transform: translateY(0);
}

/* подчеркивание в навигации */
.list-nav-item {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
  color: var(--primary-text-color);
  /* transform: scale(1); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-nav-item:hover,
.list-nav-item:focus {
  /* transform: scale(0.9); */
}
/* .nav-current, */
/* .nav-due-site::after, */
.nav-current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--color-of-reaction);
  /* opacity: 0; */
  /* transform: scale(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .nav-due-site:hover::after,
.nav-current:hover::after {
  opacity: 1;
  transform: scale(1);
} */
