.navList__item {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
  color: $primary-text-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navList__item--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: $color-of-reaction;
}
