.team {
  background: #f5f4fa;
}

.team__title {
  font-size: 36px;
  line-height: 1.16;
  color: $primary-text-color;

  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: $primary-text-color;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.9;
  color: $paragraph-color;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.all-team {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $general-accent-color;
  border-radius: 0px 0px 4px 4px;
}
.social {
  display: flex;
  justify-content: center;
}

.social__box {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $color-of-reaction;

    cursor: pointer;
    fill: $general-accent-color;
    transform: scale(1.2);
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
