.hide {
  display: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .aboutus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // width: 354px;
    margin-right: 0px;
  }
}

.aboutus__list {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.aboutus__description {
  font-size: 14px;
  line-height: 1.71;
  color: $paragraph-color;
}

.aboutus__items {
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 190px;
}
// .us-list:not(:last-child) {
//   margin-bottom: 30px;
// }

@media screen and (min-width: 768px) {
  .aboutus__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 354px;
    height: 120px;
    padding: 25px 0px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .aboutus__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 270px;
    height: 120px;
    padding: 25px 0px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 270px;
    margin-bottom: 30px;
  }
}
