header {
  border-bottom: 1px solid $border-color;
}

.nav {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  // padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 80px;
  }
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $color-of-reaction;
  // align-items: center;
  // margin: 16px 276px 16px 15px;
  // margin-bottom: 16px;
  // margin-top: 16px;
  // padding-top: 16px;
}
.chn-color {
  color: $primary-text-color;
}

// .contact-list {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-list {
    display: flex;
    // align-items: center;
    flex-direction: column;
    margin-top: 21px;
    // justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.contact-list__item {
  display: flex;

  align-items: center;
  // &:not(:first-child) {
  // margin-left: 30px;
}

@media screen and (min-width: 1200px) {
  .contact-list__item {
    display: flex;

    // align-items: center;
    align-items: flex-start;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.envelope-item {
  margin-right: 10px;
  fill: currentColor;
}

.smart-item {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .navList {
    display: inline-flex;
    align-items: center;
    margin-right: 84px;
  }
}
.navList__item:not(:last-child) {
  margin-right: 30px;
}

.navList__item--due {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}
.navList__item--current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $color-of-reaction;
}

.link-nav {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-of-reaction;
    transform: scale(0.9);
  }
}

.contact-list__link {
  // display: flex;
  // flex-direction: column;
  color: $paragraph-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-of-reaction;
    fill: $color-of-reaction;
    transform: scale(1.1);
  }
}

// .nav {
//   padding-top: 16px;
// }
@media (max-width: 768px) {
  .hidden-navigaton .navList {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav .contact-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hidden-navigaton {
    display: flex;
    align-items: baseline;
  }
}
