.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $color-of-reaction;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  // height: 796px;
  // height: 100vw;
  padding: 48px 40px;
  background-color: $general-accent-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  // color: #fff;
}
.nav .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  // color: #fff;
}

// .mobile-menu {
// }
.mobile-menu__link {
  margin-bottom: 32px;
}

.mobile-menu__link--accent {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-decoration: none;
  // text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.mobile-menu__link--accent:hover,
.mobile-menu__link--accent:focus {
  color: $color-of-reaction;
  cursor: pointer;
}

.mobile-menu__adress {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $paragraph-color;
  // margin-bottom: 32px;
}

.mobile-menu__adress:hover,
.mobile-menu__adress:focus {
  color: $color-of-reaction;
  cursor: pointer;
}

.mobile-menu__adress--list {
  // margin-top: 302px;
  margin-bottom: 64px;
}

.mobile-menu__social--list {
  // position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $color-of-reaction;
}
.mobile-menu__social--line {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: $color-of-reaction;
}

.mobile-menu__social--accent {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 9px;
}

// .mobile-menu__social--line:last-of-type {
//   // border-right: none;
//   // padding-right: none;
// }

// .mobile-menu__social--line::after {
//   content: '';
//   position: absolute;
//   // width: 22px;
//   // height: 0px;
//   // // left: 135px;
//   // // top: 726px;

//   border: 1px solid rgba(33, 33, 33, 0.2);
// }
@media (max-width: 768px) {
  .hidden-navigaton .navList {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav .contact-list {
    display: none;
  }
}

// .mobile-menu__column ul {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }
.mobile-menu__adress--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $paragraph-color;

  &:hover,
  &:focus {
    color: $color-of-reaction;
  }
}
.mobile-menu__adress--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $paragraph-color;

  &:hover,
  &:focus {
    color: $color-of-reaction;
  }
}

.mobile-menu__adress {
  margin-bottom: 32px;
}

.mobile-menu__link--list {
  margin-bottom: 302px;
}
